.about-section{
    margin: 100px 50px;
    max-width: 600px;
}

.about-name{

    font-weight: bold;
    font-size: 45px;
    color: white;
}

.about-decription{
    font-size: 23px;
    color: rgba(0, 136, 169, 1)
}

.about-text{
    margin-top: 20px;
    font-size: 30px;
    color: white;
}